<h2>Mascotas para adoptar</h2>
<button type="button" class="btn btn-icon btn-primary" routerLink="/mascotas-agregar">Agregar mascota</button>
<table class="table">
  <thead>
    <tr>
      <th>nombre</th>
      <th>tipo</th>
      <th>edad</th>
      <th>descripcion</th>
      <th>acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mascota of mascotas">
      <td>{{mascota.nombre}}</td>
      <td>{{mascota.tipo}}</td>
      <td>{{mascota.edad}}</td>
      <td>{{mascota.descripcion}}</td>
      <td>
        <button type="button" class="btn btn-icon" [routerLink]="['/mascotas-editar', mascota.id]">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger" (click)="delete(mascota.id)">
            <clr-icon shape="trash"></clr-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>