<h2>Mascotas para adoptar</h2>
<button type="button" class="btn btn-icon btn-success" routerLink="/mascotas-agregar">Agregar mascota</button>
<table class="table table-noborder">
  <thead>
    <tr>
      <th class="left">NOMBRE</th>
      <th>TIPO</th>
      <th>EDAD</th>
      <th>DESCRIPCION</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mascota of mascotas">
      <td class="left">{{mascota.nombre}}</td>
      <td>{{mascota.tipo}}</td>
      <td>{{mascota.edad}}</td>
      <td>{{mascota.descripcion}}</td>
      <td>
        <button type="button" class="btn btn-icon" [routerLink]="['/mascotas-editar', mascota.id]">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" class="btn btn-icon btn-danger" (click)="delete(mascota.id)">
            <clr-icon shape="trash"></clr-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>